.env
DB/security_cam_users_logs.db
DB/security_cam.db
certs/cert.pem
certs/key.pem
config/logs
config/backups
recordings
config/logs
__pycache__
config/__pycache__
DB/__pycache__
python_standalones/__pycache__
camera_brightness_log.txt
