.navbar {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays on top of other content */
    }
    
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar li {float: left;}
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }.navbar li a:hover {background-color: #111;}
   .navbar li a.active {background-color: #12cf44;}

  @media (max-width: 600px) {
    .navbar ul {display: flex; flex-direction: column;}
    .navbar li {float: none;}
  }